html{
    font-family: sans-serif;
}

body{
    margin:0;
    background-color: powderblue;
}

nav {
  background-color: #E37222;
  margin: 0 auto 10px auto;
  padding: 0;
  text-align: center;
  width: 80%;
}

nav a {
  color: white;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  padding: 0 5%;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  background-color: #D33939;
  transition: 0.3s;
}

.container {
  overflow:auto;
  background-color: #07889B;
  display: block;
  font-size: 18px;
  height: 100%;
  margin: 0 auto;
  padding: 5%;
  width: 70%;
}

footer {
  background-color:#EEAA7B;
  color: grey;
  display: block;
  font-size: 10px;
  margin: 10px auto 0 auto;
  padding: 10px 0;
  text-align: center;
  width: 80%;
}

.title h1 {
  text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 10%;
  border-radius: 3px 0 0 3px;
}

.prev{
    border-radius: 3px 0 0 3px;
    right: 85%;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

#stage_title, #page_title {
  text-align:center;
}

#col1 {
  float:left;
  width:35%;
}

#col2 {
  float:right;
  width:35%;
}
